* {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 1vw;
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    position: fixed;
    justify-content: center;
    z-index: 1000;
    width: 100%;
    height: 8vh;
    background: black;
    padding-top: 2vh;
}

.logo-header {
    margin-left: 2vw;
    width: 11vw;
    height: 8vh;
}

.center-header {
    display: flex;
    justify-content: center;
    padding-top: 0.5vh;
    width: 33%;
}

.link-header {
    text-decoration: none;
    color: white;
}

.right-header {
    display: flex;
    justify-content: right;
    padding-top: 1.5vh;
    width: 33%;
}

.left-header {
    display: flex;
    justify-content: left;
    width: 33%;
}

.nav-header {
    margin: 1vw;
    padding: 0.35vh;
    transition: all 0.5s ease;
}

.nav-header:hover {
    transform: scale(1.2);
    border-bottom: 0.10vw solid #A0EEDC;
}

.btn-header {
    background: none;
    border: 0.15vw solid white;
    border-radius: 15px;
    color: white;
    width: 6vw;
    height: 4vh;
    cursor: pointer;
    transition: all 1s ease;
}

.btn-header:hover {
    border: 0.15vw solid #A0EEDC;
    color: #A0EEDC;
}


/* content */


/* банер стили  */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 15vh;
    text-align: center;
}

.baner {
    display: flex;
    justify-content: center;
    background: #dbdbdb;
    font-family: 'Oswald', sans-serif;
}

.info-baner {
    width: 50%;
    text-align: right;
    padding-top: 13vh;
}

.big-text>p {
    font-size: 2.5vw;
    margin: 0;
    line-height: 4vh;
}

.big-text {
    margin-bottom: 10vh;
}

#btn-baner {
    background: #42b197;
    border: 0;
    border-radius: 10px;
    color: white;
    width: 13vw;
    padding: 0.4vw;
    cursor: pointer;
    transition: all 0.5s ease;
}

#btn-baner:hover {
    border: 0.1vw solid #20836c;
    color: #20836c;
    background: none;
}

.img-baner {
    width: 50%;
}

#baner-img {
    width: 100%;
    z-index: 1;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    transform: scale(-1, 1);
    filter: brightness(90%)
}


/* инфограф стили  */

.infograf {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 15vh;
}

.block-info {
    width: 18vw;
    margin: 1vw;
    height: 55vh;
    filter: brightness(30%);
    transition: all 0.5s ease;
}

.block-info>p {
    font-size: 1.5vw;
    border-bottom: 3px solid #42b197;
}

.zagolovok {
    font-size: 2.5vw;
    font-weight: 900;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 0;
}

.ifgr-abs {
    position: relative;
    top: 30vh;
    opacity: 0;
    color: white;
    transition: all 0.5s ease;
}

.block-info:hover {
    filter: brightness(80%);
}

.block-info:hover .ifgr-abs {
    filter: brightness(100%);
    color: #37f7cc;
    opacity: 1;
    font-size: 3vw;
    margin: 0;
    padding: 0;
}

.spiker-all {
    width: 100%;
    display: table-column;
    justify-content: center;
}

.spiker {
    width: 9vw;
    height: 9vw;
    border-radius: 50%;
    border: 0.5vw solid #42b197;
    margin: 1.5vh 1.5vw;
}

.block-spiker {
    display: flex;
    justify-content: center;
}

.txt-spiker {
    max-width: 12vw;
    font-size: 0.8vw;
    padding-left: 1vw;
    padding-right: 1vw;
    height: auto;
    text-align: center;
}

.txt-spiker>span {
    font-weight: bold;
    font-size: 1.1vw;
}

#spiker-btn {
    width: 25vw;
    height: 7vh;
    font-size: 1.5vw;
    margin: 3vh;
    border-bottom: 2px solid black;
    background: none;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-radius: 15px;
    transition: all 0.3s ease;
    cursor: pointer;
}

#spiker-btn:hover {
    border: 3px solid #20836c;
    background: #f0f0f0;
    box-shadow: 5px 5px 15px;
}

.programma {
    width: 100%;
    height: 50vh;
    background: #0b2a23;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forum-prog {
    width: 26%;
    height: 30vh;
    display: flex;
}

.forum-prog>p {
    color: white;
    text-align: left;
}

.forum-prog>p>span {
    font-size: 2.5vw;
    font-weight: 900;
    text-align: center;
}

.zagolovok-lfet {
    font-size: 2.5vw;
    font-weight: 900;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 0;
    text-align: left;
    margin-left: 15%;
    margin-bottom: 8vh;
}

#button-registr {
    width: 15vw;
    height: 7vh;
    border-radius: 1vw;
    border: 0;
    box-shadow: 5px 10px 20px;
    cursor: pointer;
    transition: all 0.1s ease;
}

#button-registr:hover {
    transform: scale(1.1);
    background: none;
    border: 5px solid black;
    box-shadow: 0px 0px 0px;
}

.sponsor-bl {
    display: flex;
    justify-content: center;
    width: 100%;
}

.sponsor-img {
    width: 33%;
    height: 200px;
}

footer {
    margin: 10vh 0 0 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 15vh;
    background: black;
    align-items: center;
    justify-content: space-around
}

.flex-footer {
    margin: 0;
    display: flex;
    color: white;
}

.flex-footer>p {
    margin: 0;
    padding: 0;
    font-size: 0.8vw;
}

.img-footer {
    width: 1.5vw;
    height: 2.5vh;
    filter: invert(100%);
    padding: 0 5px 0 10px;
}


/* login.html */

.registration {
    width: 25%;
    height: 50vh;
    margin-left: 1vw;
    border-radius: 20px;
    margin-top: 6vh;
    margin-bottom: 5vh;
    padding-top: 1vh;
}

.text-registr {
    width: 98%;
    height: 4vh;
    border: 0px;
    border-bottom: 2px solid black;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    outline: none;
    margin: 0;
}

.flex-reg {
    display: flex;
    justify-content: center;
}

.flex-reg>input {
    width: 50%;
}

.flex-reg>input:first-child {
    border-top-right-radius: 0px;
    border-right: 2px solid black;
}

#area-reg {
    width: 98%;
    height: 10vh;
    border: 0px;
    border-bottom: 2px solid black;
    outline: none;
    resize: none;
    margin: 0;
}

.user-sogl {
    padding: 0 0.3vw 0 0.3vw;
    font-size: 0.55vw;
    text-align: left;
    line-height: 0.5vw;
}

#btn-display {
    font-size: 0.7vw;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}

#oneprog {
    display: none;
}

#send-form {
    margin-top: 10vh;
    width: 70%;
    height: 5vh;
    border-radius: 20px;
    color: white;
    background: black;
    border: 3px solid #b4ffef;
    cursor: pointer;
    transition: all 0.3s ease;
}

#send-form:hover {
    transform: scale(1.1);
}


/* login.html */


/* profil.html */

.vxod-profile {
    width: 20%;
    height: 20vh;
    margin-left: 1vw;
    border-radius: 20px;
    margin-top: 6vh;
    margin-bottom: 5vh;
    padding-top: 1vh;
}

.zagolovok-vhod {
    font-size: 2.5vw;
    font-weight: 900;
    font-family: 'Oswald', sans-serif;
    text-align: right;
    margin-bottom: 0;
}

#hide-vxod {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    margin-bottom: 23vh;
}


/* profil.html */