*{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 1vw;
}
body{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    position: fixed;
    justify-content: center;
    z-index: 1000;
    width: 100%;
    height: 8vh;
    background: black;
    padding-top: 2vh;


}
.logo-header{
    margin-left: 2vw;
    width: 11vw;
    height: 8vh;

}
.center-header{
    display: flex;
    justify-content: center;
    padding-top: 0.5vh;
    width: 33%;
}
.link-header{
    text-decoration: none;
    color: white;
}
.right-header{
    display: flex;
    justify-content: right;
    padding-top: 1.5vh;
    width: 33%;
}
.left-header{
    display: flex;
    justify-content: left;
  
    width: 33%;
}
.nav-header{
    margin: 1vw;
    padding: 0.35vh;
    transition: all 0.5s ease;
}

.nav-header:hover{
    transform: scale(1.2);
border-bottom: 0.10vw solid  #A0EEDC;
}
.btn-header{
background: none;
border: 0.15vw solid  white;
border-radius: 15px;
color:  white;
width: 6vw;
height: 4vh;
cursor: pointer;
transition: all 1s ease;
}

.btn-header:hover{
    border: 0.15vw solid  #A0EEDC;
    color:  #A0EEDC;
}

/* content */
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10vh;
    text-align: center;
}

.baner{
    display: flex;
    justify-content: center;
    background:#dbdbdb ;
    font-family: 'Oswald', sans-serif;
}
.info-baner{
    width: 50%;
    text-align: right;
    padding-top: 13vh;
}


.big-text > p{
    font-size: 2.5vw;
    margin: 0;
    line-height: 4vh;

}
.big-text{
    margin-bottom: 10vh;
}

#btn-baner{
    background: #42b197;
   
    border: 0;
border-radius: 10px;
color:  white;
width: 13vw;
padding: 0.4vw;

cursor: pointer;
transition: all 0.5s ease;
}
#btn-baner:hover{
 border: 0.1vw solid  #20836c;
 color: #20836c;
 background: none;
}

.img-baner{
    width: 50%;
}
#baner-img{
    width: 100%;

   z-index: 1;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    transform: scale(-1, 1);
    filter: brightness(90%)

}

.infograf{
    display: flex;
    justify-content: center;
    text-align: center;
padding-bottom:15vh ;

}

.block-info{
    width: 18vw;
    margin: 1vw;
    height: 55vh;
    filter: brightness(30%);
    transition: all 0.5s ease;
}
.block-info > p {
font-size: 1.5vw;
border-bottom: 3px solid #42b197;
}
.zagolovok{
    font-size: 3vw;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 0;
}
.ifgr-abs{
    position: relative;
    top: 30vh;
    opacity: 0;
    color: white;
    transition: all 0.5s ease;
}
.block-info:hover{
    filter: brightness(80%);
}

.block-info:hover .ifgr-abs{
    filter: brightness(100%);
  
    color: #37f7cc;
opacity: 1;
font-size: 3vw;
margin: 0;
padding: 0;

}